@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	overflow: hidden;
	pointer-events: all;
	touch-action: none;
	user-select: none;

	.modal {
		position: relative;
		width: 100%;
		max-width: 340px;
		padding: 40px 20px 30px 20px;
		background-color: $main-bg;
        border-radius: 24px;
		box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
		border: 3px solid $light-purple;
		z-index: 10000;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		color: $main-dark;

		.closeBtn {
			position: absolute;
			top: 10px;
			right: 15px;
			background: transparent;
			border: none;
			color: $main-dark;
			font-size: 32px;
			line-height: 1;
			font-weight: 300;
			cursor: pointer;
			opacity: 0.7;
			z-index: 10;
			&:hover { opacity: 1; }
		}

		.header {
			margin-bottom: 15px;
			text-align: center;
			width: 100%;
			
			.title {
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0;
				line-height: 1.3;
				letter-spacing: 0.5px;
				color: $main-dark;
			}
		}

		// Общий контейнер для картинки и белого низа
		.cardWrapper {
			position: relative;
			width: 100%;
			background-color: #fff;
			aspect-ratio: 1 / 1.55;
			border-radius: 24px;
			overflow: hidden;
			display: flex;
			flex-direction: column;

			.imageArea {
				width: 100%;
				height: 300px; // Высота под картинку
				background-color: #f0f0f0; // Фон на случай долгой загрузки
				position: relative;
				border-radius: 24px;
				border-bottom: 0;

				.productImage {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 20px;
					object-position: center;
					display: block;
				}
			}

			.warningRow {
				position: absolute;
				bottom: 0;
				background-color: #fff;
				display: flex;
				flex-direction: row;
				align-items: center; 
				border: 3px solid $main-red;
				border-radius: 30px;
				padding: 15px 15px 60px 15px;
				width: 100%;

				.iconWrapper {
					flex-shrink: 0;
					margin-right: 12px;
					margin-top: 2px;
					
					.icon {
						width: 32px;
						height: auto;
					}
				}

				.textWrapper {
					text-align: left;
					color: $main-dark;

					.warningText {
						font-size: 15px;
						font-weight: 700;
						margin: 0 0 4px 0;
						line-height: 1.2;
						text-transform: uppercase;
						color: $secondary-dark;
					}

					.subText {
						font-size: 15px;
						font-weight: 600;
						margin: 0;
						line-height: 1.3;
						color: $secondary-dark;
						text-transform: uppercase;
					}
				}
			}
			.button {
				position: absolute;
				bottom: 0;
				background-color: $main-lime;
				border: 4px solid $secondary-lime;
				color: #232324;
				text-align: center;
				padding: 10px;
				width: 100%;
				border-radius: 30px;
				font-size: 16px;
				font-weight: 800;
				text-transform: uppercase;
				cursor: pointer;
				box-shadow: 0 4px 10px rgba(220, 231, 53, 0.4);
				transition: transform 0.2s, filter 0.2s;

				&:hover {
					filter: brightness(1.05);
				}
				&:active {
					transform: scale(0.98);
				}
			}
		}
	}
}