@use '../../../styles/variables' as *;

$accent-yellow: #D1E335;
$bg-dark-gray: #35353E;

.card {
    width: 100%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    aspect-ratio: 1.6 / 1;
    border-bottom: 0;
    

    .imageWrapper {
        width: 100%;
        height: 100%;
        background-color: $bg-dark;
        border: 3px solid $main-purple;
        border-radius: 16px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
    }

    .bottomBar {
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        background-color: $main-lime;
        border: 2px solid $secondary-lime;
        border-radius: 16px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        min-height: 50px;

        .info {
            flex: 1;
            padding-right: 10px;
            
            .name {
                font-size: 12px;
                font-weight: 800;
                color: #222;
                text-transform: uppercase;
                display: -webkit-box;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 1.1;
            }
        }

        .timerBadge {
            background-color: $main-dark; // Полупрозрачный серый фон
            border-radius: 8px;
            color: white;
            padding: 4px 8px;
            color: #222;
            font-weight: 600;
            font-size: 12px;
            white-space: nowrap;
            letter-spacing: 0.5px;
        }
    }
}