@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

// Цвета из вашего проекта
$purple-bg: #ae46ce; 
$accent-yellow: #D1E335;
$dark-bg: #2b2b36;

.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	overflow: hidden;
	pointer-events: all;
	touch-action: none;
	user-select: none;

	.modal {
		position: relative;
		width: 90%;
		max-width: 22rem;
		padding: 24px;
		background: $secondary-bg;
		border: 4px solid $light-purple;
		border-radius: 24px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
		overflow: hidden;
		z-index: 10000;
		display: flex;
		flex-direction: column;
		text-align: center;

		.header {
			margin-bottom: 15px;
			.control {
				display: flex;
				justify-content: flex-end;
				position: absolute;
				top: 15px;
				right: 15px;
			
				.close {
					width: 24px;
					cursor: pointer;
				}
			}

			.logotype {
				width: 120px;
				margin-bottom: 10px;
			}
		}

		.body {
			.text {
				font-size: 1.25rem;
				font-weight: 800;
				text-transform: uppercase;
				color: $main-dark;
				margin-bottom: 20px;
			}

			.prizes {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 12px;
				overflow-y: auto;
				max-height: 400px;
				padding-right: 5px;

				&::-webkit-scrollbar {
					width: 4px;
				}
				&::-webkit-scrollbar-thumb {
					background-color: $accent-yellow;
					border-radius: 10px;
				}

				.prize {
					position: relative;
					border-radius: 16px;
					cursor: pointer;
					transition: transform 0.2s ease;
					border: 1px solid transparent;
					aspect-ratio: 1 / 1.4;

					&:active {
						transform: scale(0.95);
						border-color: $accent-yellow;
					}

					img {
						width: 100%;
						aspect-ratio: 1 / 1.1; 
						border-radius: 12px;
						border: 2px solid $main-purple;
					}

					.info {
						position: absolute;
						bottom: 0;
						background-color: white;
						border-radius: 15px;
						font-size: 1.1rem;
						font-weight: 600;
						color: $main-dark;
						border: 2px solid $main-purple;
						line-height: 1.1;
						padding: 3px;
					}
				}
			}
		}
	}
}