$primaryColorYellow: #fbcc56;
$primaryColorBlack: black;

$disabledColor: #5e5e5e;
$neutralColor: #d9d9d9;
$neon-glow: 0 0 10px 1px #d2ff00cc;

$topSafeArea: env(safe-area-inset-top);
$bottomSafeArea: env(safe-area-inset-bottom);

$islVh: 100vh;

$bg-dark: #2C2C34;
$card-bg: #44444D;
$purple-header: #C274E8;
$accent-yellow: #D1E335;
$text-white: #FFFFFF;



$main-purple: #d3a9e5;
$secondary-purple: #BD77D7;
$light-purple: #DABCE8;
$mini-dark-purple: #a851ca;
$dark-purple: #A64BC9;
$super-dark-purple: #9744B7;

$main-lime: #d6de23;
$secondary-lime: #c3ca20;

$main-bg: #feffeb;
$secondary-bg: #F5F5F9;

$main-dark: #3f414e;
$secondary-dark: #393B47;

$main-error: #F8572D;
$secondary-error: #E24F29;

$main-red: #F17676;

$main-gray: #A1A4B2;
$secondary-gray: #E8E8E8;
$light-gray: #A5A8B5;