@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

// Цвета из вашего стиля
$accent-yellow: #D1E335;
$card-bg: #464655;
$dark-bg: #2b2b36;

.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.85);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	overflow: hidden;
	pointer-events: all;
	touch-action: none;
	user-select: none;

	.modal {
		position: relative;
		width: 90%;
		max-width: 22rem;
		padding: 24px;
		background: $secondary-bg; 
		border: 4px solid $light-purple;
		border-radius: 24px;
		box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
		z-index: 10000;
		display: flex;
		flex-direction: column;
		text-align: center;

		.header {
			margin-bottom: 10px;
			.control {
				display: flex;
				justify-content: flex-end;
				position: absolute;
				top: 15px;
				right: 15px;
			
				.close {
					width: 24px;
					cursor: pointer;
				}
			}

			.logotype {
				width: 60%;
				max-width: 150px;
				margin: 0 auto;
			}
		}

		.body {

			padding: 0px 1rem;
			.text {
				font-size: 1.25rem;
				font-weight: 800;
				text-transform: uppercase;
				color: $main-dark;
				margin-bottom: 10px;
			}

			.detailCard {
				width: 100%;
				border-radius: 20px;
				color: $main-dark;
				box-sizing: border-box;
				margin-bottom: 10px;
				position: relative;

				img {
					width: 100%;
					aspect-ratio: 1 / 1.3;
					border-radius: 16px;
					object-fit: cover;
					border: 3px solid $light-purple;
				}

				.title {
					position: absolute;
					width: 100%;
					bottom: 0;
					font-size: 1rem;
					text-wrap: wrap;
					font-weight: 700;
					padding: 25px 0;
					color: $main-dark;
					background-color: #fff;
					border-radius: 15px;
					border: 3px solid $light-purple;
					margin: 0;
					line-height: 1.2;
				}
			}

			.buttons {
				display: flex;
				flex-direction: column;
				gap: 10px;
				margin-top: 5px;

				.button {
					flex: 1;
					padding: 10px 0;
					font-size: 14px;
					font-weight: 900;
					border-radius: 14px;
					border: none;
					text-transform: uppercase;
					cursor: pointer;
					transition: opacity 0.2s;

					&:active {
						opacity: 0.8;
					}

					&.back {
						background-color: #EBEBED;
						border: 3px solid #D4D3D8;
						color: $main-dark;
					}

					&.handle {
						background-color: $main-lime;
						border: 3px solid $secondary-lime;
						color: $main-dark;
					}
				}
			}
		}
	}
}