// components/UI/PageBackground/PageBackground.module.scss
.backgroundContainer {
    position: fixed; // Фиксируем относительно окна браузера
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    z-index: 0; // Самый нижний уровень
    pointer-events: none; // Пропускает клики
    overflow: hidden;

    .lottie {
        width: 100%;
        height: 100%;
    }
}