@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

$purple-header: #C274E8; // Фиолетовый
$bg-dark: #2C2C34;

.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.7); // Чуть темнее
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	overflow: hidden;
	pointer-events: all;
	touch-action: none;
	user-select: none;

	.modal {
		position: relative;
		width: 90%;
		max-width: 340px; 
		padding: 24px 20px;
		background-color: $secondary-bg;
    	border: 3px solid $light-purple;
		border-radius: 20px;
		box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
		z-index: 10000;
		display: flex;
		flex-direction: column;
		text-align: center;
		box-sizing: border-box;


		.header {
			margin-bottom: 20px;
			
			.title {
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0;
				color: $main-dark;
				letter-spacing: 0.5px;
				line-height: 1.2;
			}
		}

		.body {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;

			.animationWrapper {
				position: relative;
				width: 100%;
				height: 150px;
				display: flex;
				justify-content: center;
				z-index: 1;

				.lottieAnim {
					position: absolute;
					width: 345px;
					height: auto;
				}
			}

			.illustration {
				// Иконка/Иллюстрация над белой карточкой
				width: 100px; 
				height: auto;
				margin-bottom: -15px; // Небольшой наезд на карточку или просто отступ
				z-index: 2;
				object-fit: contain;
			}

			.card {
				background-color: #fff;
				border: 3px solid $secondary-gray;
				color: $main-dark;
				width: 100%;
				border-radius: 16px;
				padding: 25px 15px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
				position: relative;
				z-index: 1;

				.countdown {
					font-size: 36px;
					font-weight: 800;
					color: $bg-dark; // Темные цифры
					margin-bottom: 10px;
					font-variant-numeric: tabular-nums; // Чтобы цифры не прыгали
				}

				.content {
					font-size: 14px;
					font-weight: 600;
					color: $bg-dark;
					margin: 0;
					line-height: 1.4;
					text-transform: uppercase; // Как на скрине "ОПУБЛИКУЙ ФОТО..."
				}
			}
		}
	}
}