@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.wrap {
    @include wrapContainer();
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    box-sizing: border-box;
    padding: 0; 
    
    // Блок для контента
    .content {
        position: relative;
        z-index: 1;
        width: 100%;
        
        // 2. ВАЖНО: Контент тоже должен занять всю высоту
        height: 100%; 
        flex: 1; 
        
        display: flex;
        flex-direction: column; // Ось идет сверху вниз

        // 3. ВОТ ЭТО ДЕЛАЕТ ЦЕНТР ПО ВЕРТИКАЛИ:
        justify-content: center; 
        
        // А это по горизонтали:
        align-items: center;      
        box-sizing: border-box;
    }
}