@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.card {
	@include playCard();

	.card_header {
		font-size: 1.5rem;
		text-align: center;
	}

	.card_body {
		.list {
			margin: 10px 0 0 0;
			padding: 10px;
			list-style: none;
			border-radius: 0;
			background-color: transparent;

			.item {
				padding: 0.75rem 1rem;
				border-bottom: 1px solid white;
				background-color: transparent;
				color: white;
				font-size: 20px;

				&:last-child {
					border-bottom: none; // remove divider after last item
				}

				strong {
					color: $primaryColorYellow; // optional accent for strong text
				}
			}
		}
		
		.start {
			@include flexCenter(row);

			.button {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				padding: 0.65rem;
				font-size: 20px;
				border-radius: 10px;
				border: 0;
				background-color: $primaryColorYellow;
				color: black;
				font-weight: bold;
			}
		}
	}
}